{block content}
<h3>Vytvořit novou databázi</h3>
{control createDatabaseForm}
<br>
<h3>O projektu</h3>
<p>Tento projekt slouží k výuce principů relačních databází.</p>
<p>Založeno na <a href="http://www.adminer.org">Admineru</a> a Nette.</p>
<p>Kód je dostupný na Githubu: <a href="https://github.com/vcernik/database">https://github.com/vcernik/database</a></p>
<p>Vytvořil Václav Černík, <a href="mailto:vaclav@cernik.name">vaclav@cernik.name</a></p>
{/block}