{block content}
<h3>Vytvořit novou databázi</h3>
{control createDatabaseForm}
<br>
<h3>O projektu</h3>
<p>Tento projekt slouží k výuce principů relačních databází. Umožňuje snadné vytvoření a kopírování databází, jejich správu a zobrazení (prezentaci) dat.<br>
Příklady kódu pro zobrazení (prezentace) data najdete zde: <a href="{link //examples}">{link //examples}</a></p>
<p>Založeno na SQLite, <a href="http://www.adminer.org">Admineru</a> a <a href="https://nette.org/cs/">Nette</a>.</p>
<p>Kód je dostupný na Githubu: <a href="https://github.com/vcernik/database">https://github.com/vcernik/database</a><br>
Vytvořil Václav Černík, <a href="mailto:vaclav@cernik.name">vaclav@cernik.name</a></p>

<p style="opacity:0.4"><em>Ikona: <a href="https://www.flaticon.com/free-icons/database" title="database icons">Database icons created by Stockio - Flaticon</a></em></p>
{/block}