{block title}Nástroje – databáze "{$database->name}"{/block}
{block content}
<h1>Nástroje</h1>
<h2>Odkaz pro duplikování databáze</h2>
<a href="{link //Homepage:share,'share'=>$database->share}">{link //Homepage:share,'share'=>$database->share}</a>
<p>Odkaz stačí zkopírovat a poslat.</p>

<h2>Změna názvu databáze</h2>
{control renameForm}


<h2>Vytvoření nové databáze</h2>
<p><a href="{link //Homepage:}">{link //Homepage:}</a></p>